.instructions {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.container {
  margin: 5rem auto 0 auto;
  width: 49rem;
}

.disabled {
  opacity: 0.2
}

.hidden {
  flex-grow: 1;
  opacity: 0;
}

.remainingCount {
  flex-grow: 1;
}
.remainingCount_number {
  opacity:  0.5;
}
.navbutton {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.navbutton div {
  flex-grow: .5;
}

.cards {
  font-size: .5rem;
  max-width: 45rem;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0 3rem 3rem 3rem;
}
