.container {
  margin: 0 auto 0 auto;
  width: 49rem;
}

.disabled {
  opacity: 0.2
}

.hidden {
  flex-grow: 1;
  opacity: 0;
}

.remainingCount {
  flex-grow: 1;
}

.navbutton {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.navbutton div {
  flex-grow: .5;
}


.cards {
  font-size: .5rem;
  max-width: 45rem;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0 3rem 3rem 3rem;
}

.celtic {
  font-size: .5rem;
  max-width: 83rem;
  text-align: center;
  flex-wrap: wrap;
  height: 36rem;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

@value base: 10rem;

.celtic :global(.card) {
  border: 0;
}

.celtic :global(.card):nth-of-type(1) {
  position: absolute;
  margin: base;
}

.celtic :global(.card):nth-of-type(2) {
  position: absolute;
  transform: rotate(-90deg);
  margin: base;
}

.celtic :global(.card):nth-of-type(3) {
  position: absolute;
  margin: base base base calc(base / 2);
}

.celtic :global(.card):nth-of-type(4) {
  position: absolute;
  margin: base base base calc(base + 5rem);
}

.celtic :global(.card):nth-of-type(5) {
  position: absolute;
  margin: calc(base - 5rem) base base base;
}

.celtic :global(.card):nth-of-type(6) {
  position: absolute;
  margin: 30em base base base;
}

.celtic :global(.card):nth-of-type(7) {
  position: absolute;
  margin: 3rem base base 19rem;
}

.celtic :global(.card):nth-of-type(8) {
  position: absolute;
  margin: 8rem base base 19rem;
}

.celtic :global(.card):nth-of-type(9) {
  position: absolute;
  margin: 13rem base base 19rem;
}

.celtic :global(.card):nth-of-type(10) {
  position: absolute;
  margin: 18rem base base 19rem;
}
