@value cardWidth: 2.9rem;
@value cardHeight: 5rem;

.card {
  width: cardWidth;
  height: cardHeight;
  transform: 0;
  margin: .5rem;
  color: grey;
}

.card:hover {
  transform: translateY(-5px);
}

.cardFront img,
.cardBack img {
  width: cardWidth;
  height: cardHeight
}

.isInverted {
  transform: rotate(180deg);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
  background-color: transparent;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin: 0 0 0 -26px;
}

/* This container is needed to position the front and back side */
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.isSelected {
  border: 2px dashed #c7bc9a;
      transform: translateY(-2px);
      border-radius: 0.3rem;
}

.isInverted .isSelected {
  box-shadow: 3px 6px 8px 1px;
}

/*Do an horizontal flip when you move the mouse over the flip box container*/
.isFlipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.cardFront {
  color: black;
}

/* Style the back side */
.cardBack {
  transform: rotateY(180deg);
}
