.instructions {
  margin-top: -1rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foo {
  width: 6rem;
  display: flex;
  flexDirection: row;
}

.navbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.disabled {
  opacity: 0.25;
}

.navbuttons_arrows {
  flex-grow: 1;
}

.isInverted img {
  transform: rotate(180deg);
}

.container {
  margin: 5rem auto 0 auto;
  width: 49rem;
}

.title {
  margin: 1rem 0 0 0;
}

.title_noarrows {
  margin: -3.4rem 0 0 0;
  width: 85%;
}

.disabled {
  opacity: 0.2
}

.hidden {
  flex-grow: 1;
  opacity: 0;
}

.remainingCount {
  flex-grow: 1;
}

.navbutton {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.navbutton div {
  flex-grow: .5;
}

.currentCard_container{
  display: flex;
  flexDirection: row;
}

.currentCard {
  margin: 0 0 0 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  width: 23rem;
  border-radius: 1rem;
  height: 36rem;
  overflow: hidden;
  background-position: center;
}

.currentCard_desc {
  user-select: text;
  height: 8rem;
  padding: 1rem;
  overflow-y: scroll;
background-color: rgba(255, 255, 255, 0.75);
}

.currentCard_card {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  height: 30rem;
  margin: 0;
}

.currentCard_card img {
  width: 15rem;
}

.cards {
  margin: 4rem 0 0 -1rem;
  font-size: .5rem;
  max-width: 83rem;
  text-align: center;
  flex-wrap: wrap;
  height: 36rem;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

@value base2: 4rem;

.three_card :global(.card) {
  border: 0;
}

.three_card :global(.card):nth-of-type(1) {
  position: absolute;
  margin: base2 base2 base2 base2;
}

.three_card :global(.card):nth-of-type(2) {
  position: absolute;
  margin: base2 base2 base2 calc(base2 * 2);
}

.three_card :global(.card):nth-of-type(3) {
  position: absolute;
  margin: base2 base2 base2 calc(base2 * 3);
}

.one_card :global(.card) {
  display: none;
}

@value base: 10rem;

.celtic :global(.card) {
  border: 0;
}

.celtic :global(.card):nth-of-type(1) {
  position: absolute;
  margin: base;
}

.celtic :global(.card):nth-of-type(2) {
  position: absolute;
  transform: rotate(-90deg);
  margin: base;
}

.celtic :global(.card):nth-of-type(3) {
  position: absolute;
  margin: base base base calc(base / 2);
}

.celtic :global(.card):nth-of-type(4) {
  position: absolute;
  margin: base base base calc(base + 5rem);
}

.celtic :global(.card):nth-of-type(5) {
  position: absolute;
  margin: calc(base - 5rem) base base base;
}

.celtic :global(.card):nth-of-type(6) {
  position: absolute;
  margin: 30em base base base;
}

.celtic :global(.card):nth-of-type(7) {
  position: absolute;
  margin: 3rem base base 19rem;
}

.celtic :global(.card):nth-of-type(8) {
  position: absolute;
  margin: 8rem base base 19rem;
}

.celtic :global(.card):nth-of-type(9) {
  position: absolute;
  margin: 13rem base base 19rem;
}

.celtic :global(.card):nth-of-type(10) {
  position: absolute;
  margin: 18rem base base 19rem;
}
