html, body {
  padding: 0;
  margin: 0;
}

body {
  margin: 2rem 2rem 0 2rem;
  opacity: 0;
  background-color: #e8e6e2;
  font-family: 'Amatic SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  color: #695763;
  margin: 0 .5rem 0 0;
  font-size: 1.5rem;
}
